
h1 {
  color:pink;
  }

  img {
    width: 400px;
  }
p {
  margin: 20px;
  padding: 20px;
  border: 1px solid #fff;
}
.pink {
  color:pink;
}
.blue {
  color:blue;
  font: verdana;
  font-size: 14px;
}
.littlehamster {
    padding: 150px;
    margin-top: 50px;
    background-color: aquamarine;
}
nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
}
