
h1 {
  color:pink;
  }

  img {
    width: 400px;
  }
p {
  margin: 20px;
  padding: 20px;
  border: 1px solid #fff;
}
.pink {
  color:pink;
}
.blue {
  color:blue;
  font: verdana;
  font-size: 14px;
}
.littlehamster {
    padding: 150px;
    margin-top: 50px;
    background-color: aquamarine;
}
